<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link <%= list && 'active' %>" href="/shop/product">list product</a>
            </li>
            <li><a class="nav-link <%= add && 'active' %>" href="/shop/add-product">add product</a></li>
        </ul>
    </div>
</nav>