<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/header.ejs', {pageTitle: 'Halaman Tidak Ditemukan'}) %>
</head>

<body>
    <%- include('./includes/navigation.ejs', {list : false, add: false}) %>
    <h1><%= pageTitle %></h1>
</body>

</html>