<!DOCTYPE html>
<html lang="en">

<%- include('./includes/header.ejs', {pageTitle: 'add product'}) %>

<body>
    <%- include('./includes/navigation.ejs', {list : false, add: true}) %>
    <div class="container-fluid">
        <form action="/shop/add-product" method="POST" class="form-inline">
            <input class="form-control md-4 mr-3" type="text" name="title">
            <button type="submit" class="btn btn-primary md-2"> add product </button>
        </form>
    </div>
</body>

</html>