<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/header.ejs', {pageTitle: 'List Product'}) %>
</head>

<body>
    <%- include('./includes/navigation.ejs', {list: true, add: false}) %>
    <div class="container-fluid">
        <% if (products.length > 0) { %>
        <h1>List Of Product</h1>
        <ul>
            <% products.forEach((product) => { %>
            <li> <%= product.title %></li>
            <% }) %>
        </ul>
        <% } else { %>
        <h1>Product Tidak Ditemukan</h1>
        <% } %>
    </div>

</body>

</html>